extends ../../layouts/ui-kit_white

include ../../blocks/ui-kit/color/color
include ../../blocks/ui-kit/type/type

block head-title
    title Colors & Type

block append main-grid
    .colors-and-type__wrapper
        section.colors-and-type__section
            -
                const colors = [
                    {
                        modifier: '_dark-shade-100',
                        title: {
                            primary: 'Dark Shade 100%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_dark-shade-75',
                        title: {
                            primary: 'Dark Shade 75%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_dark-shade-50',
                        title: {
                            primary: 'Dark Shade 50%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_dark-shade-25',
                        title: {
                            primary: 'Dark Shade 25%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_dark-shade-5',
                        title: {
                            primary: 'Dark Shade 5%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_purple',
                        title: {
                            primary: 'Purple',
                            secondary: '#BC9CFF'
                        }
                    },
                    {
                        modifier: '_green',
                        title: {
                            primary: 'Green',
                            secondary: '#6FCF97'
                        }
                    }
                ];
            each item in colors
                div.colors-and-type__color-layout
                    +color(item)

        section.colors-and-type__section
            -
                const typeItems = [
                    {
                        modifier: '_h1',
                        title: 'This one is the sub-section or widget title'
                    },
                    {
                        modifier: '_h2',
                        title: 'Next one is the item title inside widgets'
                    },
                    {
                        modifier: '_h3',
                        title: 'This is a label or CTA text'
                    },
                    {
                        modifier: '_body',
                        title: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'
                    }
                ];
            each item in typeItems
                div.colors-and-type__type-layout
                    +type(item)

