extends ../../layouts/ui-kit_white

include ../../blocks/ui-kit/color/color

block head-title
    title Colors & Type

block append main-grid
    .colors-and-type__wrapper
        section.colors-and-type__section
            -
                const colors = [
                    {
                        modifier: '_dark-shade-100',
                        title: {
                            primary: 'Dark Shade 100%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_dark-shade-75',
                        title: {
                            primary: 'Dark Shade 75%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_dark-shade-50',
                        title: {
                            primary: 'Dark Shade 50%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_dark-shade-25',
                        title: {
                            primary: 'Dark Shade 25%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_dark-shade-5',
                        title: {
                            primary: 'Dark Shade 5%',
                            secondary: '#1F2041'
                        }
                    },
                    {
                        modifier: '_purple',
                        title: {
                            primary: 'Purple',
                            secondary: '#BC9CFF'
                        }
                    },
                    {
                        modifier: '_green',
                        title: {
                            primary: 'Green',
                            secondary: '#6FCF97'
                        }
                    }
                ];
            each item in colors
                div.colors-and-type__color-layout
                    +color(item)

        section.colors-and-type__section
            -
                const typeItems = [
                    {
                        modifier: 'h1'
                    },
                    {
                        modifier: 'h2'
                    },
                    {
                        modifier: 'h3'
                    },
                    {
                        modifier: 'body'
                    }
                ];
            each item in typeItems
                div.colors-and-type__type-layout

