/* colors-and-types.scss */

.colors-and-type {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 100px;
        margin-right: 100px;
    }

    &__section {
        margin-left: 50px;
        margin-right: 50px;
    }

    &__color-layout:not(:last-child) {
        margin-bottom: 20px;
    }

    &__type-layout {
        margin-bottom: 50px;
        max-width: 410px
    }
}