extends ../../layouts/ui-kit_white

block head-title
    title Colors & Type

block append main-grid
    div(bp="grid")
        section(bp="6@lg")
            = 1
        section(bp="6@lg")
            = 2