/* colors-and-types.scss */

.colors-and-type {
  &__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__section {
    margin-left: 50px;
    margin-right: 50px;
  }

  &__color-layout {
    margin-bottom: 20px;
  }

  &__type-layout {
    margin-bottom: 50px;
    max-width: 410px
  }
}