mixin palette(params)
    .palette
        .palette__color
        .palette__title
            .palette__title-primary #{params.title.primary}
            .palette__title-secondary #{params.title.secondary}