doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        block head-title
            title Page Layout

        style
            // - for use scss filter you need to install jstransformer-scss package
            include:scss ./page.sass

        block head-common-style
            link(rel='stylesheet', href='./css/style.css')

        block head-custom-style

    body
        block body-main
            h1 Page Layout

        block body-custom-script
