doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        block head-title
            title Page Layout

        link(rel='stylesheet', href='css/style.css')

    body
        main.ui-kit.ui-kit_white
            include ../blocks/ui-kit/ui-kit-header/ui-kit-header

            block body-main

            include ../blocks/ui-kit/ui-kit-footer/ui-kit-footer

    script(src='js/index.js')
