@import '~modern-css-reset/dist/reset.css';
@import '~blueprint-css/dist/blueprint.css';

body {
  background-color: #E5E5E5;
}

main.ui-kit {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  &_white {
    background-color: white;
  }
}

