extends ui-kit

block body-main
    main.ui-kit.ui-kit_white
        include ../blocks/ui-kit/ui-kit-header/ui-kit-header
        block body-main-content
        include ../blocks/ui-kit/ui-kit-footer/ui-kit-footer
