extends ../layouts/page
include ../blocks/site-logo/site-logo

block head-title
    title Colors & Type

block body-main
    main
        h1 Colors & Type
        div
            a(href="index.html")
                +site-logo(48, 48)
        div
            a(href="index.html")
                +site-logo(48, 48, 'colorful')