extends ../layouts/page

block head-title
    title Main Page

block head-custom-style
    style
        include ./index.scss

block body-main
    main
        h1 Main Page

block body-custom-script
    script
        include ./index.js