extends ../layouts/page

block head-title
    title FSD education program. The 2nd task

block body-main
    main
        h1 FSD education program. The 2nd task

        h2 UI kit

        a(href="colors-and-type.html") Colors & Type