extends ../layouts/ui-kit

block head-title
    title FSD education program. The 2nd task

block body-main-content
    main
        h1 FSD education program. The 2nd task

        h2 UI kit

        ul
            li
                a(href="colors-and-type.html") Colors & Type
            li
                a(href="form-elements.html") Form Elements